html, body {
    background-color: aliceblue;
}

#header {
    color: black;
    size: 70px;
    text-align: center;
}

#mainBUTTON {
    color: black;
    size: 30px;
    text-align: center;

}

.mainBODY {
    color: black;
    size: 30px;
    text-align: center;
}
