html, body {
    background-color: aliceblue;
}

#header {
    color: black;
    size: 90px;
    text-align: center;
}

#mainBUTTON {
    color: black;
    size: 30px;
    text-align: center;
    margin: auto;
}

.mainBODY {
    color: black;
    size: 40px;
    text-align: center;
}
