html, body {
    background-color: aliceblue;
}

#header {
    color: black;
    font-size: 50px;
    text-align: center;
}

#mainBUTTON {
    color: black;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
}

.mainBODY {
    color: black;
    font-size: 25px;
    text-align: center;
}
